.frame{
    display:flex; /*讓項目水平排列*/
}
.left{
    flex:none;
    width:200px;
}
.right{
    display:flex;
    justify-content:flex-end;
    flex:auto;
}
.item{
    width:100px;
    margin-right:10px;
    text-align:center;   
}

.welcome{
    display:flex;
    justify-content:center;
    align-items:center;
    height:300px;
    background-color:#cccccc;
}
.text{
    width:300px;height:40px;
    font-size:30px;
    font-weight:bold;
    text-align:center;
}