.headline{
    font-size:30px;font-weight:bold;
    margin-bottom:15;text-align:center;
}
.desktop-menu{
    text-align:center;
    display:block;
}
.mobile-menu{
    text-align:center;
    display:none;
}
.list{
    display:flex;
    justify-content:center;
}
.product{
    flex:none;width:280px;margin:10px;
    background-color:#ffcccc;
}
@media (max-width:1250px){
    /*螢幕寬度小於1250px 套用這個區塊的css*/
    .list{
        flex-wrap:wrap;
    }
    .product{
        width:45%;
    }
}
@media (max-width:500px){
    /*螢幕寬度小於500px 套用這個區塊的css*/
        .desktop-menu{
        text-align:center;
        display:none;
    }
    .mobile-menu{
        text-align:center;
        display:block;
    }
    .headline{
        font-size:20px;
    }
    .list{
        flex-wrap:wrap;
    }
    .product{
        width:90%;
    }
}